/**************************************************************/
/******************    Custom Stylesheet    *******************/
/*******************   by Corey Sizemore   ********************/
/*******************     version 1.0       ********************/
/**************************************************************/


header.home_default_image {
	background: url('../img/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#home_logo {
	
	#logo_home {
		
		img {
			width: 400px;
		}
	}
}

#home_logo {
	
	#logo_home {
		
		h2 {
			color: #000000;
		}
	}
}

.content {
	
	a.button:link, 
	a.button:visited {
		margin-right: 20px;
		margin-bottom: 10px;
	}
}



@media (min-width: 980px) and (max-width: 1220px) {
	
}
	
@media (min-width: 768px) and (max-width: 979px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
	
		#logo_home {
			
			img {
				width: 300px;
			}
		}
	}
	
}
	
@media (min-width: 480px) and (max-width: 767px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
	
		#logo_home {
			
			img {
				width: 250px;
			}
		}
	}
	
}
	
@media (min-width: 0px) and (max-width: 479px) {
	
	header.home_default_image {
		background: url('../img/home_mobile.jpg') no-repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	
	#home_logo {
	
		#logo_home {
			
			img {
				width: 250px;
			}
		}
	}
	
}